version: '3.9'

services:
  postgres-users: 
      image: postgres:latest
      environment:
        - POSTGRES_DB=UsersDB
        - POSTGRES_USER=sa
        - POSTGRES_PASSWORD=Your_password123
      ports:
        - "5432:5432"
      networks:
        - backend
      volumes:
        - pg_data:/var/lib/postgresql/data

  rabbitmq-users:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

networks:
  backend:
    driver: bridge

volumes:
  sql_data:
    driver: local
